<form 
  novalidate 
  (ngSubmit)="onSubmit()" 
  [formGroup]="formGroup"
  class="form-group"
>
<label class="center-block">
    <span>Tytuł:</span>
    <input 
      type="text"
      formControlName="rankingCategory"
    >
  </label>
<br />
  <label class="center-block">
    <span>Opis:</span>
    <input 
      type="text"
      formControlName="description"
    >
  </label>
  <br />
  <label>Filmy:</label><br />
  <label formArrayName="movies" *ngFor="let movies of moviesFormArray.controls; let i = index">
    <input type="checkbox" [formControlName]="i">
    {{movieArray[i].title}}<br />
  </label>

<br />
<button type="submit" >
  zapisz
</button>
</form>