<form 
  novalidate 
  (ngSubmit)="onSubmit()" 
  [formGroup]="newMovie"
  class="form-group"
>
<label class="center-block">
    <span>Tytuł:</span>
    <input 
      type="text"
      formControlName="title"
    >
  </label>
<br />
  <label class="center-block">
    <span>Logo:</span>
    <input 
      type="text"
      formControlName="logo"
    >
  </label>
  <br />
  <label class="center-block">
    <span>Rok produkcji:</span>
    <input 
      type="number"
      formControlName="year"
    >
  </label>
  <br />
  <button type="submit" >
    zapisz
  </button>
</form>