<form 
  novalidate  
  [formGroup]="newMovie"
  class="form-group"
>
<label class="center-block">
    <span>Tytuł:</span>
    <input 
      type="text"
      formControlName="title"
    >
  </label>
<br />
  <label class="center-block">
    <span>Logo:</span>
    <input 
      type="text"
      formControlName="logo"
    >
  </label>
  <br />
  <label class="center-block">
    <span>Rok produkcji:</span>
    <input 
      type="number"
      formControlName="year"
    >
  </label>
  <br />
  <button (click)="submit()"  [routerLink]="['/movies']">
    zapisz
  </button>
  <button type="submit" (click)="onSubmit">
    Zapisz i dodaj następny
  </button>
</form>